.skiptocontent a  {
	top:-40px;
	transition: top 1s ease-out;
}


header, footer{
	font-family: arial;
}

header{
	flex-direction: row;
    justify-content: space-between;
    min-height: auto;
    align-items: center;
} 

nav a {
	color:purple;
	font-family: courier;
	text-decoration: none;
}
.current{
	text-transform: uppercase;
	border: 3px solid black
}

nav li {
	margin: 1%;
	padding: 1%;
	display: inline-block;
	background: transparent;
	width: 15%;
}

section{
	border: 1px solid black;
	margin-top: 20px;
	padding: 10px;
}

.container{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/*flex-flow: <flex-wrap>*/
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;

}

.container{
	display: grid;
	grid-template-columns: 300px 500px 300px
}
/*main img{
	
}*/

/*div {
  width: 300px;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
}*/
